/* container */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 600px 1fr 1fr;
  grid-template-rows: 40px 500px;
}

/* header */
.header {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  position: fixed;
  width: 100%;
  height: 40px;
  align-content: center;
  justify-content: space-between;
  grid-auto-flow: column;
  background: white;
  border-bottom: 1px solid lightgray;
  margin-top: -10px;
}

.hamburger {
  width: 16px;
  grid-column: 1 / 2;
}

.magglass {
  width: 16px;
  grid-column: 2 / 3;
}

.logo {
  width: 200px;
  height: 30px;
  object-fit: cover;
  margin-left: 140px;
}

.btn {
  background: #567b95;
  border: none;
  color: white;
  text-transform: uppercase;
  height: 30px;
  border-radius: 3px;
}

.header-buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 115px 65px;
}

.subscribe-btn {
  justify-self: end;
}

.login-btn {
  justify-self: start;
}

.menu {
  display: grid;
  grid-template-columns: 10px 10px;
  grid-gap: 20px;
  margin-left: 10px;
  margin-top: 10px;
}

/* main */

.main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background: lightgoldenrodyellow;
  
}

.main-title {
  grid-column: 3 / 4;
  margin-top: 100px;
}

.main-photo {
  grid-column: 2 / 5;
  margin-top: 150px;
}

.main-photo figcaption {
  width: 75%;
  font-size: 13px;
  color: gray;
}

.main-photo img {
  width: 100%;
}